<!DOCTYPE html>
<html>
	<head>
		<title>Autores</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<h2>Quiz: el juego de las preguntas!</h2>
		<h3>Autores del juego 'Quiz':</h3>

		<p>Lara Muñoz Sánchez<br/>Pablo Pascual Campo</p>

		//Imagen de los autores:
		<img src="/images/autores.jpg" width="400" height="200"><br>

		<a href="/">Inicio</a>
		<a href="/quizes/question">Vuelva a las preguntas</a>

	</body>
</html>