<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<h2>Quiz: el juego de las preguntas!</h2>

		<p>El resultado de su búsqueda es:</p>
		<a href="/quizes/question">Vuelva a las preguntas</a>

	</body>
</html>
